.formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.formulario-treino-dia {
    margin: 1em 0;
    display: flex;
    flex-direction: row;
    gap: 2em;
}

.formulario-treino, .formulario-dia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label {
    margin-bottom: .5em;
    font-weight: 500;
}

input {
    padding: .5em 1em;
    border-radius: 10px;
    border: none;
    background-color: var(--branco);
}

input::placeholder {
    color: var(--preto);
    opacity: .5;
}

.formulario-exercicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formulario-exercicios {
    display: flex;
    gap: 1em;
    margin-top: 2em;
}

.formulario-exercicios__titulo {
    margin-top: 1em;
}

.formulario__dica {
    font-size: .8em;
    margin-top: 2em;
}

.botao__formulario {
    margin-top: 2em;
    padding: .7em 1em;
    font-size: 1.1em;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--botao-adicionar);
    color: var(--branco);
    width: 20%;
    transition: all .2s;
}

.botao__formulario:hover {
    opacity: .9;
}

.treinos__titulo {
    padding: 2em 0 0 2em;
}

.treinos {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 2em 0 2em 4em;
    gap: 2em;
}

.treinos-container {
    color: var(--preto);
    background-color: var(--branco);
    padding: 1em;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border: 4px solid var(--preto);
}

.treinos-container__imagem {
    width: 250px;
    border-radius: 10px;
    margin-top: .5em;
    border: 2px solid var(--preto);
}

.treinos-container__data {
    margin-top: 1em;
}

.treinos-container__lista {
    list-style: none;
    margin-top: .5em;
}