.formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.formulario-treino-dia {
    margin: 1em 0;
    display: flex;
    flex-direction: row;
    gap: 2em;
}

.formulario-treino, .formulario-dia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label {
    margin-bottom: .5em;
    font-weight: 500;
}

input {
    padding: .5em 1em;
    border-radius: 10px;
    border: none;
    background-color: var(--branco);
}

input::placeholder {
    color: var(--preto);
    opacity: .5;
}

.formulario-exercicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formulario-exercicios {
    display: flex;
    gap: 1em;
    margin-top: 2em;
}

.formulario-exercicios__titulo {
    margin-top: 1em;
}

.formulario__dica {
    font-size: .8em;
    margin-top: 2em;
}
