@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --branco: #fff;
    --preto: #000;
    --cinza: #dbdada;
    --azul-botao: #0081C9;
    --fundo: #F0FF42;
    --vermelho: #DC0000;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--azul-botao);
    color: var(--branco);
}